.submit-button {
  max-width: 100px;
  height: 50px;
  background-color: #1e88e5;
  padding: 5px 0;
  border: 0;
  cursor: pointer;
  flex:1;
  color: white;
}
.cancel-button {
  max-width: 100px;
  height: 50px;
  background-color: white;
  padding:5px 0;
  border: 1px solid #1e88e5;
  cursor: pointer;
  flex:1;
  color: #1e88e5;
  padding-left: 20px;
}
.low-button {
  height: 30px;
  text-align: center;
  padding: 5px 20px;
  background-color: #ef5350;
}
.shipment-delete-button {
  padding: 5px 0;
  background-color: #ef5350;

}
.submit-button:hover {
  background-color: #1565c0;
}
.cancel-button:hover {
  border: 1px solid #1565c0;
  color: #1565c0;
}
.low-button:hover,
.shipment-delete-button:hover {
  background-color: #d32f2f;
}
.submit-button:active, .cancel-button:active {
  transform: translateY(1px);
}
.wide-button {
  max-width: 160px;
  margin: 20px 0;
}
.submit-button:disabled {
  visibility: hidden;
}
.error-message {
  display: inline-block;
  color: #ef5350;
  text-align: center;
}
.error-message:empty:before {
  content: "\200b";
}
