
.login-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
.login-header {
  display: flex;
  justify-content: center;
}
.flex-form {
  list-style-type: none;
}
.flex-form li {
  display: flex;
  justify-content: center;
}
.form-input {
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 0;
  border: 1px rgb(85, 85, 85) solid;
  padding: 0 20px 0 20px;
}