.nav-container {
  height: 70px;
  width: 100%;
  border-bottom:1px solid  #1e88e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Roboto",  sans-serif;
  font-size: 40px;
  margin-left: 20px;
  color: rgb(61, 88, 168);
}
.logout-button {
  margin-right: 20px;
}
.logout-button a {
  color: white;
}
.logout-button a:link {
  text-decoration: none;
}
.logout-button:hover {
  background-color: #1565c0;
}
.logout-button:active {
  transform: translateY(1px);
}