.sidebar-container {
  display:flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  position: fixed;
  /* border-right: 1px solid rgb(123, 156, 255); */
  background-color: rgb(230, 234, 248);
}
.sidebar-container, .shipments-button-container {
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}
.shipments-button-container {
  border-top: 1px solid rgb(123, 156, 255);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(230, 234, 248);
}
.ul-flex {
  list-style-type: none;
  margin-left: -40px;  /* Hack to get rid of unexplainable right margin */
}
.ul-flex li {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 30px;
}
.ul-flex li:hover {
  background-color: rgb(180, 198, 255);
  cursor: pointer;
}
.shipments-list {
  overflow: auto;
  height: calc(100% - 161px);
}